@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    font-family: var(--font-booton), sans-serif;
    margin: 0;
    min-height: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    border: none;
  }

  html {
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-booton), sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
  }
}

:root {
  --txt-heading-xxs: 600 0.75rem/1rem var(--font-booton), sans-serif;
  --txt-heading-xs: 600 0.875rem/1.25rem var(--font-booton), sans-serif;
  --txt-heading-s: 600 1rem/1.25rem var(--font-booton), sans-serif;
  --txt-heading-m: 600 1.125rem/1.25rem var(--font-booton), sans-serif;
  --txt-heading-l: 600 1.375rem/1.75rem var(--font-booton), sans-serif;
  --txt-heading-xl: 600 1.75rem/2rem var(--font-booton), sans-serif;
  --txt-heading-xxl: 600 2rem/2.25rem var(--font-booton), sans-serif;

  --txt-body-s-regular: 400 0.75rem/1rem var(--font-booton), sans-serif;
  --txt-body-s-medium: 468 0.75rem/1rem var(--font-booton), sans-serif;
  --txt-body-s-semibold: 600 0.75rem/1rem var(--font-booton), sans-serif;

  --txt-body-m-regular: 400 0.875rem/1.25rem var(--font-booton), sans-serif;
  --txt-body-m-medium: 468 0.875rem/1.25rem var(--font-booton), sans-serif;
  --txt-body-m-semibold: 600 0.875rem/1.25rem var(--font-booton), sans-serif;

  --txt-body-l-regular: 400 1rem/1.5rem var(--font-booton), sans-serif;
  --txt-body-l-medium: 468 1rem/1.5rem var(--font-booton), sans-serif;
  --txt-body-l-semibold: 600 1rem/1.5rem var(--font-booton), sans-serif;

  --color-amber: #ff9d00;
  --color-purple: #665ac7;
  --color-mauve: #884f7d;
  --color-green: #26745b;
}

.sh-theme {
  --theme-surface: #f6f6f6;
  --theme-muted: #a19595;
  --sh-class: #8d85ff;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #4e8fdf;
  --sh-entity: var(--color-purple);
  --sh-jsxliterals: #bf7db6;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: var(--theme-muted);
  --sh-title-color: var(--sh-identifier);
  --sh-control-color: var(--theme-muted);
  --sh-line-number-color: var(--theme-muted);

  background-color: var(--theme-surface);
  color: var(--sh-identifier);
  color-scheme: light;
}

.sh-theme--forest {
  --theme-surface: #e0eddd;
  --theme-muted: #627a62;
  --sh-class: #66558e;
  --sh-identifier: #15522f;
  --sh-sign: var(--theme-muted);
  --sh-property: #346ba0;
  --sh-entity: var(--sh-class);
  --sh-jsxliterals: var(--color-mauve);
  --sh-string: var(--color-green);
  --sh-keyword: #8a3b32;
}

.sh-theme--oil {
  --theme-surface: #102342;
  --theme-muted: #9aabc5;
  --sh-class: #c4b5fd;
  --sh-identifier: #f1f5ff;
  --sh-sign: var(--theme-muted);
  --sh-property: #93c5fd;
  --sh-entity: var(--sh-class);
  --sh-jsxliterals: #f0abdc;
  --sh-string: #7dd3c0;
  --sh-keyword: #fda4af;

  color-scheme: dark;
}

.sh-theme--water {
  --theme-surface: #eaf6fc;
  --theme-muted: #60798e;
  --sh-class: var(--color-purple);
  --sh-identifier: #0b2471;
  --sh-sign: var(--theme-muted);
  --sh-property: #245bb4;
  --sh-entity: var(--sh-class);
  --sh-jsxliterals: var(--color-mauve);
  --sh-string: #067565;
  --sh-keyword: #a34142;
}

.sh-theme--renewable {
  --theme-surface: #fffbf3;
  --theme-muted: #80715d;
  --sh-class: #6451a1;
  --sh-identifier: #062f25;
  --sh-sign: var(--theme-muted);
  --sh-property: #9e5b13;
  --sh-entity: var(--sh-class);
  --sh-jsxliterals: var(--color-mauve);
  --sh-string: var(--color-green);
  --sh-keyword: #ae3d18;
}
